.description{
    display: none;
    padding-left: 1em;
    padding-top: 1em;
}

.slot{
}

.desc_header{
    border-bottom:medium hidden;
    border-left:medium hidden;
    border-right:medium hidden;
    border-style:solid hidden hidden;
    border-width:1px medium medium;
    border-color: #DDDDDD;
    font-size: 12px;
    cursor:pointer;
    padding-bottom:2em;
    color: black;
}

.plussign{
    float: left;
    width: 1em;
}

.slot_graphs{
    padding-bottom:2em;
    padding-left:4em;   
}

.slot_graphs img{
}

body {
    font-family: arial,sans-serif;
    color: rgb(102, 102, 102);
}

h1 {
    text-align: center;
}